{% extends "transit_bbs/base.html" %} {% block content %}
<h1 class="title">{{ post.title }}</h1>
<p>{{ post.body }}</p>
<p>公開日時: {{ post.pub_date }}</p>
{% if user.is_authenticated %}
<form method="post" action="{% url 'confirm_post' post.id %}">
  {% csrf_token %}
  <button class="button is-primary">
    <i class="fa-thin fa-person-circle-check"></i> 投稿確認
  </button>
</form>
<form method="post" action="{% url 'interested_post' post.id %}">
  {% csrf_token %}
  <button class="button is-warning">
    <i class="fa-light fa-star"></i> 興味あり
  </button>
</form>
{% endif %}
<hr />
<h2 class="title">コメント</h2>
{% for comment in comments %}
<div class="box">
  <p><strong>{{ comment.author }}</strong> - {{ comment.pub_date }}</p>
  <p>{{ comment.body }}</p>
</div>
{% endfor %} {% if user.is_authenticated %}
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="button is-primary">コメントを投稿</button>
</form>
{% endif %} {% endblock %}
